* {
	box-sizing: border-box;
}
li a {
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	color: black !important	;
}
nav .container-fluid {
	padding: 0px;
}
.navbar-brand {
	font-size: 30px;
	margin: 16px 30px 16px 30px;
}
.row h1 {
	margin: 20px 0px 30px 0px;
	text-align: center;
}
.colum {
	padding: 12px;
}
.box {
	border: 1px solid black;
	background-color: #FFBF00;
}
.box h2 {
	margin-top: 10px;
	font-size: 1.2em;
	text-align: center;
}
.box p {
	margin: 15px;
	clear: both;
	height: 450px;
	overflow: auto;
}
@media (min-width: 576px) {
	.navbar-toggler {
		display: none;
	}
	
	#navbarNav, .box a {
		display: none !important;
	}
}
@media (max-width: 575px) {
	.box {
		width: 85%;
		margin: 0 7.5% 0 7.5%;
	}
	.box p {
		height: 200px;
	}
	.row h1 {
		margin: 10px 0px 0px 0px;
		text-align: center;
}
@media (max-width: 767px) {
	.box p {
		height: 300px;
	}
}

